@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }

    .row {
        flex-direction: column;
    }

    .lessons .col, .steps .col, .why-us .col-right {
        width: 100%;
    }

    .why-us .col-left {
        width: 90%;
        margin: 0 auto;
    }

    .site-header {
        margin-top: 0;
        padding-top: 3rem;
    }

    .lessons {
        padding-bottom: 3rem;
    }

    .steps, .why-us {
        margin: 0;
    }

    .why-us {
        padding: 3rem 0;
        background-color: rgb(34, 34, 34);
    }
}